@import "styles/variables";
@import "styles/functions";

.label {
  display: block;
  color: $grey-1;
}

.radio {
  padding: spacing(2);
  border: 1px solid $common-black;
  border-radius: 26px;
  min-width: 80px;
  transition: all 150ms ease-in;


  &.checked {
    background-color: $common-black;
    color: $common-white;
  }
}
