$common-white: #ffffff;
$common-black: #121212;
$grey-1: #9ea1b3;
$grey-2: #ededed;
$spacing: 8px;
$error-color: #92271c;
$toastr-bg: #4353ff;
$grow-color: #4cd964;
$fall-color: #ff2025;

$text-default: #0f1642;
$font-family-main: 'Montserrat', sans-serif;

$font-size-main: 16px;
$font-size-h1: 32px;
$font-size-h2: 22px;
$font-size-h3: 18px;

$icon-sm: 16px;
$icon-md: 22px;
$icon-lg: 32px;
$icon-xl: 48px;
