@import "styles/variables";
@import "styles/functions";

.inputWrapper {
  display: flex;
  align-items: center;
  border: 1px solid $grey-2;
  background-color: $grey-2;
  border-radius: 30px;
  overflow: hidden;

  .input {
    background: transparent;
  }
}

.label {
  display: block;
  color: $grey-1;
}

.hasError {

  .inputWrapper {
    border-color: $error-color;
  }
}
