@import "styles/variables";

.sm {
  min-width: $icon-sm;
  min-height: $icon-sm;
  width: $icon-sm;
  height: $icon-sm;
}

.md {
  min-width: $icon-md;
  min-height: $icon-md;
  width: $icon-md;
  height: $icon-md;
}
