@import "styles/variables";
@import "styles/functions";

.baseButton {
  display: block;
  width: 100%;
  border: 1px solid transparent;
  background: none;
  color: $text-default;
  font-size: $font-size-main;
  font-weight: 600;
  transition: all 150ms ease-in;
  cursor: pointer;

  &.inline {
    display: inline-block;
    width: auto;
  }

  &:disabled {
    background: $grey-2;
    color: $common-white;
  }

  &.sm {
    padding: spacing(1);
    border-radius: 20px;
  }

  &.md {
    padding: spacing(2);
    border-radius: 28px;
  }

  &.noPadding {
    padding: 0;
  }

  &.widthAuto {
    width: auto;
  }
}

.primaryButton {
  border-color: $common-black;
  background-color: $common-black;
  color: $common-white;
  text-align: center;

  &:hover {
    border-color: #333333;
    background-color: #333333;
  }

  &:active {
    border-color: #474747;
    background-color: #474747;
  }

  &:disabled {
    border-color: #cbcbcb;
    background-color: #cbcbcb;
    cursor: not-allowed;
  }
}

.outlinedButton {
  border: 2px solid $common-black;
  color: $common-black;
}

.textButton {
  border-color: transparent;
  color: $text-default;

  &.inverted {
    color: $common-white;
  }
}
