@import "styles/variables";
@import "styles/functions";

.root {
  user-select: none;
}

.hashTag {

  .label {
    display: flex;
    align-items: center;
    height: 34px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    background-color: $common-black;
    color: $common-white;
    padding-left: spacing(2);
    font-style: italic;
  }

  .controlWrapper {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
  }
}

.controlWrapper {
  background-color: $grey-2;
  border-radius: 20px;
}

.valueBlock {
  width: 20px;
}
