@import "styles/variables";

.header {
  min-height: 90px;
  color: $common-white;
}

.logoutBtn {
  border: none;
  background: none;
  font-size: 11px;
  color: $common-white;
  padding: 0;
  cursor: pointer;
}

.userAvatar {
  width: 34px;
  height: 34px;
  border-radius: 50%;
  background-color: $grey-2;
  overflow: hidden;
}
