@import "styles/variables";

.tableRoot {
  border-collapse: collapse;
}

:global(.table) {

  .tHead {
    background-color: #979797;
    color: $common-white;

    th {
      text-align: left;
      border: none;
    }
  }
}

.tBody {

  td {
    vertical-align: middle;
  }
}
