@import "styles/variables";
@import "styles/functions";


.input {
  width: 100%;
  padding: spacing(2);
  border: none;
  font-size: $font-size-main;
  font-family: $font-family-main;

  &::placeholder {
    font-weight: normal;
    color: $grey-1;
    opacity: 1;
  }
}
